path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#normal {
  fill: blue;
}

path.link.normal {
  stroke: blue;
}

path.link.down {
  stroke-dasharray: 0, 2 1;
  stroke: red
}

path.link.overload {
  stroke: orange;
  stroke-width: 3px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.node.mx{
  fill: blue
}

circle.node.ubuntu{
  fill: green
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

rect {
  fill: white;
  stroke: #666;
  stroke-width: 1.5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}
